server:
  port: 8080

spring:
  mail:
    host: smtp.126.com
    username: test012022@126.com
    password: BBNUUAZUORGOLLIA
    port: 465
    protocol: smtps
    default-encoding: utf-8
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
            required: true
        socketFactory:
        class: javax.net.ssl.SSLSocketFactory
    #         ssl:
    #           enable :true

# shutdown config
management:
  endpoint:
    shutdown:
      enabled: true
  endpoints:
    web:
      exposure:
        include: shutdown

website:
  to_email: info@cz-robots.com
#  to_email: 2231571414@qq.com
